/* GLOBAL STYLES
-------------------------------------------------- */
body {
	margin-top: 90px;
	margin-bottom: 50px;
  padding-bottom: 40px;
  color: white;
	background-color: black;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 500px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
	z-index:-1;
	
	/* darken */
	opacity: 0.4;
}

/* iPhone portrait */
@media screen and (max-width: 476px) and (min-height: 476px) {
  img.bg {
    /* Set rules to fill background */
		min-height: 476px;
		min-width: 100%;

		/* Set up proportionate scaling */
		width: auto;
		height: 100%;

		/* Set up positioning */
		top: 0;
		left: -35%;
  }
}

/* iPhone landscape */
@media screen and (min-width: 476px) and (max-width: 740px) and (max-height: 740px) {
  img.bg {
    /* Set rules to fill background */
		min-height: 100%;
		min-width: 476px;

		/* Set up proportionate scaling */
		width: 100%;
		height: auto;

		/* Set up positioning */
		top: -20%;
		left: 0;
  }
}

/* iPad portrait */
@media screen and (min-width: 741px) and (max-width: 800px) and (min-height: 800px) {
  img.bg {
    /* Set rules to fill background */
		min-height: 800px;
		min-width: 100%;

		/* Set up proportionate scaling */
		width: auto;
		height: 100%;

		/* Set up positioning */
		top: 0;
		left: -15%;
  }
}

/* big screen */
@media screen and (min-width: 800px) { /* Specific to this particular image */
  img.bg {
		 /* Set rules to fill background */
		min-height: 100%;
		min-width: 800px;

		/* Set up proportionate scaling */
		width: 100%;
		height: auto;

		/* Set up positioning */
		top: -35%;
		left: 0;
  }
}

.app-view {
  padding-bottom: 20px;
}

.app-container {
  padding-right: 45px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgb(255,255,255);
  background-color:rgba(255,255,255,.8);
}

.login-dp .help-block{
  font-size:12px    
}

.login-dp .bottom{
  background-color:rgb(255,255,255);
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}

.login-dp .social-buttons{
  margin:12px 0    
}

.login-dp .social-buttons a{
  width: 49%;
}

.login-dp .form-group {
  margin-bottom: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}


/* MESSAGES CSS
-------------------------------------------------- */	

.jumbotron {
	margin-top: 100px;
	margin-bottom: 200px;
	background-color: transparent;
	color: white;
}

.panel {
  background-color: transparent;
  border-color: #888;

}

.panel-heading {
  border-color: #888;
  border-bottom: 0;
  padding: 0;
}

.panel-body {
  text-align: center;
  font-size: 1.6em;
}

.panel-footer {
  background-color: transparent;
  border-color: #888;
}

/* ROSTER CSS
-------------------------------------------------- */

.roster {
	margin-top: 50px;
	padding-top: 20px;
	width: auto;
}

.roster-entry img {
	width: 180px;
	height: 180px;
}

/* SCHEDULE CSS
--------------------------------------------------- */

.no-ump {
	color: gray;
}

.win {
	color: palegreen;
}

.rain {
	color: deepskyblue;
}

.loss {
	color: palevioletred;
}

/* SIGNUP CSS
--------------------------------------------------- */
.signup-btn {
  width: 100px;
}
